.team2container{
	position:relative;
	top:50px;
	margin-left:100px;

	
	background-color:#ecedf0;
	
	padding-left: 0px;
	padding-right: 0px;
	width: 803px;
	height: auto;
}

.allpost {
	
	padding-left: 10px;
	background-color: #f6f6f6;
	height: 45px;
	border-bottom:1px solid #ddd;
}

h3 {
	margin: 0px;
	padding:5px;
}

.table {
	
	margin-top: 50px;
	width:;
	margin-left:10px;
	margin-right:10px;
}


.g2-dropdown {
	float: left;
	width: 65px;
	border-radius:2px;
	height:30px;
}

h5{
	float: left;
	margin-top: 5px;
	margin-left: 20px;
}

#myInput {
	height: 30px;
	border-radius: 4px;
	float: right;
	width: 130px;;
	border-radius: 5px;
}

.topnav {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	
}
.pagination {
	float: right;
	margin-top: 0px;
	height: 10px;
	margin-right:14px;
	

}
#windowButtons{
    margin:0 px;
    float:right;
    
}
button#dropdownMenu1.btn.btn-default.dropdown-toggle {
width:120%;

}